

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;asdasda
}

.esquerdo {
    display: flex;asdasda
    justify-content: center;
    align-items: center;
    margin: 4px;
    border-top-left-radius: 30px;
    border-end-start-radius: 30px;dada
    background-color: #3C3D37;
    width: 100vh;
    height: 99%;
}

.esquerdo img {
    max-width: 700px;
}

.container-login {
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.direito {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

.login {
    padding-bottom: 20px;
}

.login img {
    max-width: 150px;
}

.botao-google {
    background-color: transparent;
    color: rgb(0, 0, 0);
    height: 35px;
    width: 350px;
    font-size: 16px;
    border: #333 solid 1px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.separador {
    margin: 10px;
    opacity: 40%;
}

.form-login label {
    text-align: start;
}

.form-login u {
    text-align: end;
}

.form-login {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

.lembrar {
    display: flex;
    align-items: center;
    gap: 5px;
}

.lembrar input {
    margin: 0;
    width: 16px;
    height: 16px;
}

.esqueceu-senha {
    color: blue;
    text-decoration: underline;
    font-size: 14px;
    white-space: nowrap;
}

input {
    height: 30px;
    width: 350px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-color: #3C3D37;
}

input::placeholder {
    color: #aaa;
}

.botao-enviar {
    padding: 10px 20px;
    background-color: green;
    color: white;
    height: 35px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-enviar:hover {
    background-color: #3aa715;
}




.imagem-inicio {
    position: relative;
    left: 0;

    transform: translateX(-30%);
    animation: moverParaCentro 2s ease-in-out forwards;
}

.sem-conta{
    margin-top: 50px;
}
@keyframes moverParaCentro {
    from {
        left: 0;
    }

    to {
        left: 40%;
        transform: translateX(-40%) ;
    }

}